.header {
  // border: 1px solid blue; //p1 44.33

  // Hamburger Open styles.
  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0; //p2 4.33
      }

      > span:last-child {
        transform: rotate(-45deg);
      }      
    }
  }

  .overlay {
    //p2 10.20
    // display: none; //p2 16.12
    opacity: 0;
    position: fixed;
    top: 3.75rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient($darkBlue, transparent);
    
    & {
      display: block; //p2 23.30
    }
  }

  nav {
    padding: 1.065rem 1.5rem;
  }

  &__logo {

    img {
      width: 8.125rem; //p1 40.15
      height: 1.375rem;
    }
  }

  &__toggle { // Mobile Menu Toggle
    > span {
      display:block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
  }

  &__links {
    // border: 1px solid red;

    a {
      position: relative; //45.08 barra debajo cada link

      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;

      &:not(:last-child){
        margin-right: 32px;
      }

      // 45.08 barra debajo cada link
      &::before {
        content: '';
        position: absolute;
        display: block;
        // width: 100%;
        height: 5px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        left: 0;
        right: 0;
        bottom: -30px;
        opacity: 0; //47.54
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $darkBlue; //p1 42.14

        &::before {
          opacity: 1; //47.54
        }
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}




